/* Общий стиль для всего приложения */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease, color 0.5s ease;
}

/* Темы */
.lightMode {
  background: #ffffff;
  color: #000000;
}

.darkMode {
  background: #030325;
  color: #ffffff;
}

.logo{
  width: 25px; /* Размер изображения */
  height: auto;
  margin-left: 8px;
  vertical-align: middle;
}

/* Навигация */
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 1000;
  transition: background 0.3s ease;
  gap: 15px;
}

.lightMode .navMenu {
  background: #ffffff;
}

.darkMode .navMenu {
  background: #030325;
}

/* Ссылки */
.navLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  position: relative;
  transition: color 0.3s ease;
  color: inherit;
}

/* Красная "О" в "КOстерчик" */
.highlightO {
  color: #ff0000;
  font-weight: bold;
}

/* Красное подчеркивание при наведении */
.navLink::after,
.navLinkActive::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ff0000;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after,
.navLinkActive::after {
  transform: scaleX(1);
}

/* Кнопки выхода и переключения темы */
.themeToggle, .logoutButton {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  min-width: unset;
  width: auto;
  display: inline-block;
}

.lightMode .themeToggle, .lightMode .logoutButton {
  color: #000000;
  background: rgba(0, 0, 0, 0.1);
}

.lightMode .themeToggle:hover, .lightMode .logoutButton:hover {
  background: rgba(0, 0, 0, 0.2);
}

.darkMode .themeToggle, .darkMode .logoutButton {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.darkMode .themeToggle:hover, .darkMode .logoutButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Контент по центру */
.outletContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Футер */
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.lightMode .footer {
  background: #ffffff;
  color: #000000;
}

.darkMode .footer {
  background: #121212;
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
