html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease, color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Темная тема */
.darkMode {
  background: linear-gradient(
    to bottom,
    #3c3c3c 30%,
    #535353 60%,
    #666666 100%
  );
  color: rgb(255, 255, 255);
}

/* Светлая тема */
.lightMode {
  background: linear-gradient(
    to bottom,
    #bbbaba 30%,
    #e1e0e0 60%,
    #ffffff 100%
  );
  color: rgb(1, 1, 1);
}

/* Навигация */
.navMenu {
  display: flex;
  justify-content: center;
  background:linear-gradient(to bottom, #8f8f8f 30%, #b1aeae 60%, #666666 100%);
  padding: 20px 0; /* Увеличим отступы для большей "воздушности" */
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Увеличиваем толщину линии */
}

/* Ссылки */
.navLink {
  text-decoration: none;
  margin: 0 30px;
  font-size: 20px;
  font-weight: 100; /* Жирный шрифт */
  letter-spacing: 0.1em;
  position: relative;
  transition: color 0.3s ease;
  color: inherit; /* Убираем дефолтный цвет текста */
}

.navLink:hover {
  color: #e05c5c; /* Красный цвет при наведении */
}

/* Подчеркивание при наведении */
.navLink::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* Увеличиваем толщину линии */
  background: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: -5px; /* Увеличиваем расстояние от текста */
  left: 0;
}

.highlightO {
  color: #e05c5c; /* Цвет для буквы "О", например, красный */
  font-weight: bold; /* Можно также сделать букву более жирной */
}

.navLink:hover::after {
  transform: scaleX(1);
}

/* Активная ссылка */
.navLinkActive {
  color: #ffffff;
}

/* Темная тема - цвет кнопок для "Костерчик" и "Профиль" */
.darkMode .navLink {
  color: #ffffff;
}

/* Светлая тема - цвет кнопок для "Костерчик" и "Профиль" */
.lightMode .navLink {
  color: #000000;
}

/* Кнопки */
.themeToggle,
.logoutButton {
  background: none;
  border: none;
  font-size: 18px; /* Увеличиваем размер кнопок */
  font-weight: 600; /* Жирный шрифт */
  cursor: pointer;
  transition: color 0.3s ease;
}

.themeToggle:hover,
.logoutButton:hover {
  color: #e05c5c;
}

/* Контент */
.outletContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Футер */
.footer {
  background:linear-gradient(to bottom, #8f8f8f 30%, #b1aeae 60%, #666666 100%);
  color: white; /* Белый текст */
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  border-top: 1px solid rgba(228, 228, 228, 0.1);
  margin-top: auto;
}
