/* Общий стиль */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: var(--secondary-bg);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  transition: background 0.5s ease, color 0.5s ease;
}

/* Логотип */
.containerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 530px;
}

.blockLogo {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.logo {
  width: 40px;
  height: auto;
}

.blockQuote {
  font-size: 14px;
  color: var(--text-muted);
}

.userControls {
  display: flex;
  align-items: center;
  gap: 20px; /* Расстояние между кнопками */
}

/* Навигация */
.navMenu {
  display: flex;
  // justify-content:space-around;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 15px;
  position: relative;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLinkActive {
  color: var(--accent-color);
}

.navLink::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navLink:hover::after,
.navLinkActive::after {
  width: 100%;
}

/* Темы */
.lightMode {
  --primary-bg: #ffffff;
  --secondary-bg: #f8f9fa;
  --text-color: #000000;
  --text-muted: #646b72;
  --accent-color: #6c63ff;
}

.darkMode {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --text-color: #ffffff;
  --text-muted: #898c8e;
  --accent-color: #6c63ff;
}

/* Кнопки темы и выхода */
.logoutButton,
.themeToggle {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.logoutButton {
  color: #e74c3c; /* Красный цвет для кнопки выхода */
}

.logoutButton:hover {
  text-decoration: underline;
}

.themeToggle {
  font-size: 20px;
  color: var(--accent-color);
}

.projectInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project,
.developers {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
}

.project:hover,
.developers:hover {
  color: var(--accent-color);
}

.project::after,
.developers::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.project:hover::after,
.developers:hover::after {
  width: 100%;
}

/* Контент */
.outletContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Футер */
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  background-color: var(--secondary-bg);
  color: var(--text-muted);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Акцентная "О" в названии */
.highlightO {
  color:#e74c3c;
  font-weight: bold;
}