.containerProfile {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f8f8f8; /* Светлый фон, как в других компонентах */
  border-radius: 16px; /* Увеличенное скругление углов */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  text-align: center;
  border: 1px solid #e0e0e0; /* Тонкая граница */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif; /* Системные шрифты */

  h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #2d2d2d; /* Цвет заголовка */
    font-weight: 600;
    letter-spacing: -0.5px; /* Уменьшение расстояния между буквами */
  }

  .profileInfo {
    margin-top: 30px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    p {
      font-size: 16px;
      margin-bottom: 12px;
      color: #666; /* Серый цвет текста */
      font-weight: 500;
      line-height: 1.5; /* Увеличенный межстрочный интервал */
    }
  }

  .buttonsBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;

    button {
      padding: 12px 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.05em;
      transition: all 0.3s ease;
      width: 45%;
      background-color: #494a4b; /* Простой цвет фона */
      color: white;

      &:hover {
        background-color: #333; /* Темнее при наведении */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Легкая тень */
      }

      &:active {
        background-color: #2d2d2d; /* Еще темнее при нажатии */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Уменьшенная тень */
      }
    }

    .button1 {
      background-color: #494a4b; /* Цвет первой кнопки */

      &:hover {
        background-color: #333;
      }

      &:active {
        background-color: #2d2d2d;
      }
    }

    .button2 {
      background-color: #494a4b; /* Цвет первой кнопки */

      &:hover {
        background-color: #333;
      }

      &:active {
        background-color: #2d2d2d;
      }
    }
  }
}
