/* Общие стили */
.containerProfile {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #bad0d3;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif; /* Подключите стиль шрифта Montserrat для элегантности */

  h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #2d2d2d;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .profileInfo {
    margin-top: 30px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    p {
      font-size: 16px;
      margin-bottom: 12px;
      color: #666;
      font-weight: 500;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .buttonsBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;

    button {
      padding: 12px 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.05em;
      transition: all 0.3s ease;
      width: 45%;
    }

    .button1 {
      background: linear-gradient(45deg, #494a4b, #a4e9e9);
      color: white;
      box-shadow: 10px 10px 10px rgba(100, 103, 106, 0.3);

      &:hover {
        background: linear-gradient(45deg,  #494a4b, #a4e9e9);
        box-shadow: 10px 10px 10px rgba(51, 52, 54, 0.4);
      }
    }

    .button2 {
      background: linear-gradient(45deg,#494a4b, #a4e9e9);
      color: white;
      box-shadow: 10px 10px 10px rgba(50, 55, 51, 0.3);

      &:hover {
        background: linear-gradient(45deg, #494a4b, #a4e9e9);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
