.eventItem {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  background-color: #bad0d3;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #dcdcdc;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.eventTitle {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #2d2d2d;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.eventImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 25px;
}

.eventColumns {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: nowrap;
}

.eventColumn {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eventDescription,
.eventCity {
  font-size: 1.2rem;
  color: #555;
}

.eventButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.eventButton {
  padding: 12px 20px;
  background: linear-gradient(45deg, #494a4b, #a4e9e9);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  width: 45%;
}

.eventButton:hover {
  box-shadow: 10px 10px 10px rgba(51, 52, 54, 0.4);
}

.eventButton:active {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.eventButton:nth-child(1) {
  background: linear-gradient(45deg, #494a4b, #a4e9e9);
}

.eventButton:nth-child(2) {
  background: linear-gradient(45deg, #494a4b, #a4e9e9);
}
