/* Общий контейнер профиля и поиска */
.profileContainer,
.searchContainer {
  max-width: 50%;
  padding: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
  margin-left: 500px;
}

/* Контейнер поиска */
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Добавлено для выравнивания по центру */
  gap: 15px;
  position: sticky;
  top: 80px;
  z-index: 1000;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Скрытый и видимый поиск */
.hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

/* Инпуты */
.searchInput {
  width: 40vw;
  max-width: 280px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease;
}

.lightModeInput {
  background: #ffffff;
  color: #787878;
}

.darkModeInput {
  background: #3c3c3c;
  color: #fff;
}

.searchInput:focus {
  background: rgb(104, 104, 104);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Дата-пикер */
.react-datepicker {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.react-datepicker__day {
  padding: 6px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__day--today {
  background: #000;
  color: rgb(255, 255, 255);
  border-radius: 50%;
}

.react-datepicker__day--selected {
  background: #d00000;
  color: white;
  border-radius: 50%;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .profileContainer,
  .searchContainer {
    width: 95vw;
  }

  .searchInput,
  .searchButton {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .searchInput,
  .searchButton {
    width: 100%;
  }
}

/* Темы */
.lightMode {
  background: #ffffff;
  color: #000000;
}

.darkMode {
  background: #030325;
  color: #ffffff;
}
